:root{
    --head-text-color: hsl(229, 31%, 21%);
    --body-text-color: hsl(229, 8%, 60%);
    --fox-button-color: hsl(229, 8%, 90%);
    --fox-button: hsl(252, 30%, 95%);

    --focus-blue-color: hsl(231, 69%, 60%);
    --focus-red-color: hsl(0, 94%, 66%);

    --font-size: 16px;
    --font-family: 'Rubik', sans-serif;

}


/* CSS reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font: inherit;
}

html{
    font-size: 62.5%;
}

html,
body {
    height: 100%;
    /* overflow-x: hidden; */
}

img,
svg {
    max-width: 100%;
    display: block;
}

/* General Styling */
body{
    color: var(--body-text-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: 1.4;
    position: relative;
    /* width: 100vw; */
    /* overflow-x: hidden; */
}

a{
    color: var(--head-text-color);
}

a:focus,
a:hover {
    color: var(--focus-red-color);
}

small {
    font-size: 11px;
}

/* Styling for the header and navbar */
 header{
    width: 100vw;
    position: fixed;
    top: 0;
    /* left: 0; */
    z-index: 10;
    background-color: white;
    padding: 4rem 12rem;
    height: 10rem
    
    
}

nav{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 4.5rem;
}
.bar ul {
    display: flex;
    align-items: center;
    gap: 4.5rem;
}
.nav-open-icon{
    display: none;
}
.nav-mobile {
    transform: translateY(-200%);
    transition: all 700ms ease;
}

.bar button {
    background-color: var(--focus-red-color);
    color: white;
    padding: 0.8rem 2.7rem;
    border: 0;
    border-radius: 0.59rem;
    cursor: pointer;
    border: 2px solid var(--focus-red-color);
}
.bar button:hover,
.bar button:focus{
    background-color: white;
    color: var(--focus-red-color);
    border: 2px solid var(--focus-red-color);
}


/* styling of the hero section */
.hero-section{
    margin-top: 19rem;
    position: relative;
    min-height: 40rem;
    overflow-x: hidden;
}
.hero-container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    align-items: center;
}
.hero-bg{
    position: absolute;
    right: 0;
    top: 19%;
    width: 40%;
    height: 80%;
    background-color: var(--focus-blue-color);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    z-index: -1;
}

.text-area {
    width: 459px;
    flex: 1;
}
.text-area h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.text-area p {
    margin-bottom: 2rem;
}
.hero-image {
    margin-left: 6rem;
    flex: 1;
}

.button {
    padding: 0.8rem 2.7rem;
    border: 0;
    border-radius: 0.59rem;
}
.chrome-btn {
    background-color: var(--focus-blue-color);
    color: white;
    margin-right: 1rem;
    border: 2px solid var(--focus-blue-color);
    cursor: pointer;
}
.chrome-btn:hover,
.chrome-btn:focus {
    background-color: white;
    color: var(--focus-blue-color);
    border: 2px solid var(--focus-blue-color);
}
.fox-button {
    background-color: var(--fox-button);
    color: var(--head-text-color);
    box-shadow: 0 4px 6px var(--fox-button-color);
    border: 2px solid var(--fox-button);
    cursor: pointer;
}
.fox-button:hover,
.fox-button:focus {
    background-color: white;
    color: var(--focus-red-color);
    border: 2px solid var(--focus-red-color);
}



/* styling for features */
.features {
    text-align: center;
    width: 540px;
    margin: 2rem auto 0;
    overflow-x: hidden;
}
.features h2 {
    margin-bottom: 2rem;
}

/* styling for tabbed component */
.tabbed-component {
    height: 65vh;
}
.tabbed-heading {
    position: relative;
    width: 78rem;
    margin: 2rem auto 1rem;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    padding-bottom: 1rem;
    text-align: center;
    cursor: pointer;
    /* border-bottom: 2px solid var(--fox-button-color); */
}
.active-feature {
    color: var(--head-text-color);
}
.horizontal-line {
    position: relative;
    width: 75rem;
    height: 2px;
    background-color: var(--fox-button-color);
    margin: 0 auto;
    
}
.active-tab{
    position: absolute;
    /* padding-bottom: 1rem; */
    /* border-bottom: 2.5px solid var(--focus-red-color); */
    width: 25rem;
    bottom: 0;
    height: 4px;
    background-color: var(--focus-red-color);
    border-radius: 3px;
    transition: all 400ms ease;
}
.tabbed-body{
    position: relative;
    margin-top: 5rem;
    height: 100%;
}
.tabbed-body-bg{
    position: absolute;
    top: 7rem;
    background-color: var(--focus-blue-color);
    width: 480px;
    height: 286px;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    z-index: -1;
}
.tabbed-items {
    position: relative;
}
.tabbed-item {
    /* position: absolute; */
    /* left: 9.4rem; */
    width: 1096px;
    margin: 0 auto;
    display: none;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.active-body {
    display: grid;
}
.tabbed-image{
    /* width: 450px;
    height: 300px; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.tabbed-image{
    width: 430px;
    height: 320px;
}

.tabbed-text{
    width: 430px;
    margin-left: 3rem;
}
.tabbed-text h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.tabbed-text p {
    margin-bottom: 2rem;
}

/* #item-2{
    display: none;
}
#item-3{
    display: none;
} */


/* styling for extensions */
.extension-section {
    width: 900px;
    margin: 0 auto 7rem;
}
.text-extension {
    text-align: center;
    width: 540px;
    margin: 2rem auto 0;
}
.text-extension h2 {
    margin-bottom: 2rem;
}
.card-extensions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.9rem;
    margin-top: 2rem;
}
.extension-card {
    display: grid;
    justify-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px var(--body-text-color);
}
.extension-card .extension-image {
    margin-bottom: 2rem;
}
.extension-card .doted-bg {
    margin-top: 2rem;
}
.extension-card h3{
    margin-bottom: 0.5rem;
}
.extension-button {
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 2px solid var(--focus-blue-color);
    cursor: pointer;
}
.extension-button:focus{
    background-color: white;
    color: var(--focus-blue-color);
    border: 2px solid var(--focus-blue-color);
}
.card-2 {
    margin-top: 3rem;
    margin-bottom: -4rem;
}
.card-3 {
    margin-bottom: -7rem;
    margin-top: 6rem;
}

/* styling for faq-section */
.faq-section{
    width: 540px;
    margin: 10rem auto;
}
.faq-text-area{
    text-align: center;
}
.faq-text-area h2{
    margin-bottom: 2rem;
}
.faq-text-area p{
    margin-bottom: 2.5rem;
}
.accordion-item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--fox-button-color);
}
.accordion-item:first-of-type {
    border-top: 1px solid var(--fox-button-color);
}
.accordion-question {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-icon{
    display: flex;
    justify-content: flex-end;
    
}
.faq-icon i {
    font-size: 2.7rem;
    color: var(--focus-blue-color);
    transition: all 500ms ease;
}

.accordion-item .tertiary-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.accordion-item .tertiary-header:hover{
    color: var(--focus-red-color);
}
.faq-icon .icon-open {
    transform: rotate(180deg);
    color: var(--focus-red-color);
}
.accordion-answer {
    height: 0;
    overflow: hidden;
    transition: all 500ms ease;
    
}
.faq-section button{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-self: center;
    

}


/* SUSCRIBE SECTION */
.suscribe{
    background-color: var(--focus-blue-color);
    color: white;
}
.suscribe-container {
    width: 440px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
}
.suscribe input{
    outline: 0;
    border: none;
    padding: 0.8rem 2rem;
    width: 250px;
    border-radius: 0.4rem;
    /* margin-right: 1rem; */
}
input[type="email"]::placeholder {
    opacity: 0.5;
}

.suscribe p{
    margin-bottom: 2rem;
}
.suscribe h2{
    margin-bottom: 2.5rem;
}


.form-group{
    display: flex;
    gap: 2rem;
}

/* footer styling */
footer {
    background-color: var(--head-text-color);
    color: white;
    text-transform: uppercase;
    padding: 2rem;
}footer a{
    color: white;
}
.footer-image{
    background-color: white;
}

.footer-nav{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 3.5rem;
}
footer ul {
    display: flex;
    flex: 1;
    gap: 2rem;
    align-items: center;
}
footer .social-links {
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
}
/* utilty classes */
.primary-header {
    font-size: 3.5rem;
    color: var(--head-text-color);
    font-weight: 500;
    line-height: 1.4;
}
.secondary-header {
    font-size: 2.5rem;
    color: var(--head-text-color);
    font-weight: 500;
}
.tertiary-header {
    font-size: 1.6rem;
    color: var(--head-text-color);
    font-weight: 500;
}
.suscribe-header {
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
}
.contact-button {
    padding: 0.8rem 2.7rem;
    border: 0;
    border-radius: 0.59rem;
    background-color: var(--focus-red-color);
    color: white;
}

.blue-button {
    padding: 0.8rem 2.7rem;
    border: 0;
    border-radius: 0.59rem;
    background-color: var(--focus-blue-color);
    color: white;
}
.suscribe-number{
    text-transform: uppercase;
}


/* MEDIA QUERIES */

/* xxxxxxxx AT 1024PX xxxxxxxxx */
@media (max-width: 1024px) {

    /* HERO SECTION */
    .hero-container{
        width: 900px;
    }
    .hero-bg{
        height: 70%;
    }
    .button{
        width: 170px;
        font-size: 14px;
    }

    /* TABBED COMPONENT */
    .tabbed-item {
        width: 800px;
    }
    .tabbed-body-bg{
        width: 450px;
    }
    .tabbed-image{
        width: 380px;
    }


    /* FOOTER AREA */
    .footer-nav {
        width: 900px;
    }
}

/* xxxxxxx AT 770PX XXXX */
@media (max-width: 770px){
    header {
        padding: 4rem 6rem;
    }
    .hero-section{
        margin-bottom: 8rem;
    }
    .hero-container {
        width: 700px;
    }
    .hero-bg{
        height: 70%;
    }
    .button{
        width: 130px;
        padding: 0.8rem;
    }

    /* TABBED COMPONENT */
    .tabbed-heading {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 69rem;
    }
    .feature-header {
        position: relative;
        padding-bottom: 1.3rem;
        border-bottom: 2px solid var(--body-text-color);
    }
    .feature-header.active-feature::after {
        content: '';
        position: absolute;
        width: 25rem;
        bottom: 0;
        transform: translateX(-70%);
        height: 4px;
        background-color: var(--focus-red-color);
        border-radius: 3px;
        transition: all 400ms ease;

    }
    .horizontal-line {
        display: none;
    }
    .tabbed-component {
        height: 145vh;
    }
    .tabbed-item{
        grid-template-columns: 1fr;
    }

    .tabbed-text {
        width: 70%;
        text-align: center;
    }

    .extension-section {
        width: 90%;
    }

    .text-extension {
        width: 400px;
    }
    .card-extensions {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-nav{
        width: 90%;
    }

    /* xxxxxxx AT 600px xxxxxxxx */
    @media(max-width: 600px){
        nav .bar{
            display: none;
        }
        .nav-open-icon{
            display: flex;
            justify-content: flex-end;
            margin-top: -2rem;
        }
        header {
            /* position: relative; */
            padding: 4rem 4rem;
        }
        .nav-mobile {
            transform: translateY(-200%);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            background-color: var(--head-text-color);
            opacity: 0.9;
            color: white;
            
        }
        .nav-mobile-container {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 90%;
            margin: 4rem auto 0;
            height: 80%;
            /* align-items: center; */
            font-size: 20px;
            text-align: center;

        }
        .nav-mobile a{
            color: white;
        }
        .list-div {
            margin-top: 3rem;
            flex: 1;
            justify-content: flex-start;
        }
        .list-div button {
            background: transparent;
            color: white;
            padding: 0.8rem 13rem;
            border: 2px solid white;
            border-radius: 0.7rem;
        }
        .list-div > ul > li{
            padding: 2rem 0;
            border-top: 0.5px solid var(--body-text-color);
        }
        .image-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 96%;
        }
        .nav-mobile-socials{
            display: flex;
            justify-content: center;
            gap: 2.5rem;
        }
        .hero-section {
            margin-top: 10rem;
        }
        .hero-container {
            flex-direction: column-reverse;
            text-align: center;
            gap: 3rem;
            width: 80%;
            
        }
        .hero-image{
            width: 100%;
        }
        .hero-bg {
            height: 38%;
            width: 68%;
        }
        .features{
            width: 80%;
        }
        .tabbed-heading{
            width: 80%;
        }
        .tabbed-item{
            width: 80%;
        }
        .card-extensions {
            grid-template-columns: 1fr;
        }
        .faq-accordion {
            width: 87%;
            margin: 1rem auto;
        }
        .footer-nav {
            flex-direction: column;
            align-items: center;
        }
        .footer-nav ul {
            flex-direction: column;
           
        }

    }

}

/* xxxxxxxxx AT 375PX xxxxxxxxx */
@media(max-width: 375px){
    .text-area {
        margin-top: 7rem;
        width: 370px;
    }
    .hero-image{
        margin-top: 5rem;
        margin-left: 0;
        width: 360px;
    }
    .hero-bg{
        height: 28%;
        width: 77%;
    }
    .tabbed-item{
        width: 90%;
    }
    .tabbed-image{
        width: 100%;
    }
    .tabbed-body-bg{
        width: 325px;
        height: 202px;
    }
    .tabbed-text {
        width: 95%;
        margin-left: 0;
        margin-top: -6rem;
    }
    .text-extension{
        width: 80%;
        margin-bottom: 4rem;
    }
    .card-extensions{
        width: 90%;
        margin: 0 auto;
    }
    .faq-section{
        width: 90%;
        margin-top: 15rem;
    }
    .suscribe-container{
        width: 90%;
    }
    .form-group{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .feature-header.active-feature::after{
        width: 15rem;
        transform: translateX(-90%);
    }
}

